.fileListElementStyle
{
	background-color: #81DAF7;
}

.fileListHeaderStyle
{
	background-color: #F1C0F9;
}

.fileListElementClicked
{
	background-color: #81DAF7;
	border-style: solid;
	border-color: #6FBED9;
	border-width: 2px;
}